@font-face {
  font-family: 'Product Sans Thin';
  src: url('../assets/product-sans/ProductSans-Thin.ttf') format('truetype');
  font-weight: thin;
  font-style: thin;
}

@font-face {
  font-family: 'Product Sans Light';
  src: url('../assets/product-sans/ProductSans-Light.ttf') format('truetype');
  font-weight: light;
  font-style: light;
}

@font-face {
  font-family: 'Product Sans Regular';
  src: url('../assets/product-sans/ProductSans-Regular.ttf') format('truetype');
  font-weight: regular;
  font-style: regular;
}

@font-face {
  font-family: 'Product Sans Medium';
  src: url('../assets/product-sans/ProductSans-Medium.ttf') format('truetype');
  font-weight: medium;
  font-style: medium;
}

@font-face {
  font-family: 'Product Sans Bold';
  src: url('../assets/product-sans/ProductSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Product Sans Black';
  src: url('../assets/product-sans/ProductSans-Black.ttf') format('truetype');
  font-weight: bolder;
  font-style: bolder;
}
