@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Trade+Winds&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --outfit: "Outfit", sans-serif;
  --tradeWinds: "Trade Winds", cursive;

  --black: black;
  --white: white;

  --indian-gradient: linear-gradient(264.24deg, #acffaf 0%, #ffe49f 100%);

  //    background: rgb(0, 0, 0);
  //   background: linear-gradient(
  //     252.44deg,
  //     rgba(0, 0, 0, 1) 0%,
  //     rgba(36, 36, 36, 1) 68%,
  //     rgba(0, 0, 0, 1) 100%
  //   );
}

body {
  font-family: var(--outfit);
  width: 100%;
  background-color: black;
  color: white;
}
