@import url(./ProductSans.scss);

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cl-black: black;
  --cl-white: white;
  --cl-light-white: rgba(255, 255, 255, 0.275);
  --product-sans-thin: 'Product Sans Thin', sans-serif;
  --product-sans-light: 'Product Sans Light', sans-serif;
  --product-sans-regular: 'Product Sans Regular', sans-serif;
  --product-sans-Medium: 'Product Sans Medium', sans-serif;
  --product-sans-Bold: 'Product Sans Bold', sans-serif;
  --product-sans-black: 'Product Sans Black', sans-serif;
}

body {
  background-color: var(--cl-black);
  color: var(--cl-white);
  font-family: var(--product-sans-regular);
}
