@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800&family=Trade+Winds&display=swap');

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--cl-purple-lite);
  border-radius: 10px;
}

.has-scroll-smooth {
  overflow: hidden;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-dm: 'DM Serif Display', serif;
  --font-inter: 'Inter', sans-serif;
  --font-outfit: 'Outfit', sans-serif;
  --font-trade: 'Trade Winds', cursive;
  --cl-white: #fff;
  --cl-black: #000;
  --cl-purple: #fa00ff;
  --cl-purple-lite: #bc00c092;
}

body {
  background-color: var(--cl-black);
  color: var(--cl-white);
  font-family: var(--font-inter);
}
